@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/style.scss */
body {
  background-color: #ffffff;
  font-family: roboto, Rajdhani, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  position: relative;
  z-index: 1;
}

/* line 14, ../sass/style.scss */
strong {
  font-weight: 600;
}

/* line 18, ../sass/style.scss */
ul {
  list-style-type: none;
  margin: 0;
}

/* line 23, ../sass/style.scss */
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 45px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* line 31, ../sass/style.scss */
.goDown {
  z-index: 100;
  display: block;
  text-align: center;
  font-size: 400%;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: goDown;
  -webkit-animation-duration: 1s;
  animation-name: goDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
/* line 47, ../sass/style.scss */
.goDown a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

@-webkit-keyframes goDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}
/* line 78, ../sass/style.scss */
.button {
  font-size: 220%;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  padding: 14px;
  box-sizing: border-box;
  border: 0 none;
  cursor: pointer;
  outline: 0;
  min-width: 220px;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 3;
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
/* line 100, ../sass/style.scss */
.button:hover {
  background-color: #333333;
  border-color: transparent;
}
/* line 104, ../sass/style.scss */
.button.border {
  color: #000000;
}
/* line 107, ../sass/style.scss */
.button.red {
  background-color: #c81f1f;
  border-color: #c81f1f;
}
/* line 110, ../sass/style.scss */
.button.red.border {
  color: #c81f1f;
}
/* line 113, ../sass/style.scss */
.button.red:hover {
  background-color: #e76666;
  border-color: transparent;
}
/* line 118, ../sass/style.scss */
.button.aqua {
  background-color: #1ec3e1;
  border-color: #1ec3e1;
}
/* line 121, ../sass/style.scss */
.button.aqua.border {
  color: #1ec3e1;
}
/* line 124, ../sass/style.scss */
.button.aqua:hover {
  background-color: #78dbed;
  border-color: transparent;
}
/* line 129, ../sass/style.scss */
.button.white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
/* line 133, ../sass/style.scss */
.button.white.border {
  color: #ffffff;
}
/* line 136, ../sass/style.scss */
.button.white:hover {
  background-color: #cccccc;
  border-color: transparent;
}
/* line 141, ../sass/style.scss */
.button.border {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}
/* line 145, ../sass/style.scss */
.button.border:hover {
  background-color: transparent;
}
/* line 149, ../sass/style.scss */
.button.small {
  font-size: 160%;
  padding: 12px;
  min-width: 150px;
}

/* line 157, ../sass/style.scss */
#backtotop {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
}
/* line 164, ../sass/style.scss */
#backtotop .fa {
  font-size: 45px;
  color: #c81f1f;
  padding: 10px;
}

/* line 171, ../sass/style.scss */
.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: right;
  padding: 30px 0;
}

/* line 181, ../sass/style.scss */
.menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
/* line 185, ../sass/style.scss */
.menu li a {
  color: #ffffff;
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  font-size: 130%;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 195, ../sass/style.scss */
.menu li a.active, .menu li a:hover {
  border-color: #c81f1f;
}

/* line 203, ../sass/style.scss */
p.title {
  color: #000000;
  font-size: 500%;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
/* line 209, ../sass/style.scss */
p.title span {
  color: #c81f1f;
}
/* line 213, ../sass/style.scss */
p.subtitle {
  color: #1a1a1a;
  font-size: 220%;
  font-weight: 500;
  line-height: normal;
}

/* line 221, ../sass/style.scss */
.ug-lightbox {
  font-size: 10px;
  font-family: roboto, Rajdhani, sans-serif;
}
/* line 225, ../sass/style.scss */
.ug-lightbox p.title {
  color: #ffffff;
  font-size: 200%;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
/* line 232, ../sass/style.scss */
.ug-lightbox p.description {
  color: #ffffff;
  font-size: 110%;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 10px;
}
/* line 239, ../sass/style.scss */
.ug-lightbox p.tag {
  color: #000000;
  background-color: #ffffff;
  font-size: 90%;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  padding: 2px 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  margin-bottom: 10px;
}

/* line 254, ../sass/style.scss */
.first {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  background-position: center center;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* line 263, ../sass/style.scss */
.first .logo {
  display: inline-block;
  vertical-align: top;
  padding-right: 50px;
}
/* line 268, ../sass/style.scss */
.first .slogen {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-right: 50px;
}
/* line 274, ../sass/style.scss */
.first .buttons {
  padding-top: 50px;
  text-align: right;
}
/* line 277, ../sass/style.scss */
.first .buttons a {
  margin-left: 10px;
}
/* line 281, ../sass/style.scss */
.first .content {
  position: relative;
  z-index: 2;
}
/* line 286, ../sass/style.scss */
.first p.line1 {
  color: #999999;
  font-size: 240%;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 6.9px;
}
/* line 294, ../sass/style.scss */
.first p.Websites, .first p.design {
  color: #f0f0f0;
  font-size: 880%;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
/* line 301, ../sass/style.scss */
.first p.Websites {
  padding-bottom: 6px;
}
/* line 304, ../sass/style.scss */
.first p.design {
  display: inline;
}
/* line 308, ../sass/style.scss */
.first .amp {
  display: inline;
}

/* line 314, ../sass/style.scss */
.second {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 319, ../sass/style.scss */
.second .content {
  padding-top: 140px;
  position: relative;
  z-index: 2;
}
/* line 325, ../sass/style.scss */
.second p.title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 329, ../sass/style.scss */
.second p.title .decorate {
  position: absolute;
  top: -40px;
  right: 104%;
}
/* line 335, ../sass/style.scss */
.second p.service-title {
  color: #c81f1f;
  font-size: 180%;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 4px;
}
/* line 342, ../sass/style.scss */
.second p.service-text {
  color: #1a1a1a;
  font-size: 160%;
  font-weight: 400;
  line-height: normal;
}
/* line 349, ../sass/style.scss */
.second .services {
  padding-top: 80px;
}
/* line 351, ../sass/style.scss */
.second .services li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 -2px;
  padding: 0 30px 80px;
  max-width: 400px;
}
/* line 359, ../sass/style.scss */
.second .services .service {
  box-sizing: border-box;
  display: table;
}
/* line 363, ../sass/style.scss */
.second .services .service-content {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
/* line 368, ../sass/style.scss */
.second .services img {
  display: table-cell;
  vertical-align: top;
  padding: 0 40px 0 20px;
}
/* line 375, ../sass/style.scss */
.second .buttons a {
  margin: 0 10px;
}

/* line 381, ../sass/style.scss */
.thired {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: center;
  /*.ug-tile-icon {
  	display: none!important;
  }*/
}
/* line 386, ../sass/style.scss */
.thired .content {
  padding-top: 170px;
  padding-bottom: 140px;
  position: relative;
  z-index: 2;
}
/* line 393, ../sass/style.scss */
.thired p.title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 397, ../sass/style.scss */
.thired p.title .decorate {
  position: absolute;
  top: -40px;
  left: 104%;
}
/* line 403, ../sass/style.scss */
.thired p.restricted {
  color: #111111;
  font-size: 120%;
  font-weight: normal;
  line-height: normal;
  font-style: italic;
  padding-top: 20px;
}
/* line 411, ../sass/style.scss */
.thired p.slider-note {
  color: #111111;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
  font-style: italic;
  padding-top: 10px;
}
/* line 420, ../sass/style.scss */
.thired #gallery {
  margin-top: 40px;
}
/* line 423, ../sass/style.scss */
.thired .view-page {
  background-color: #c81f1f;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: 50;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  padding: 14px;
  box-sizing: border-box;
  -webkit-transition: all 1s ease-in-out !important;
  -moz-transition: all 1s ease-in-out !important;
  -ms-transition: all 1s ease-in-out !important;
  -o-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}
/* line 441, ../sass/style.scss */
.thired .view-page:hover {
  background-color: #e03a3a;
}
/* line 446, ../sass/style.scss */
.thired .ug-thumb-over .view-page {
  bottom: 0;
}
/* line 453, ../sass/style.scss */
.thired .ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom {
  background: 0 none;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  cursor: pointer;
  height: 100%;
}
/* line 461, ../sass/style.scss */
.thired .ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-link {
  background: 0 none;
  width: 100%;
  top: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  cursor: pointer;
  height: 50px;
  z-index: 9999;
}
/* line 471, ../sass/style.scss */
.thired .ug-textpanel {
  padding-bottom: 10px;
}
/* line 474, ../sass/style.scss */
.thired .ug-textpanel-bg {
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
/* line 478, ../sass/style.scss */
.thired .ug-textpanel-title {
  text-align: center;
  font-family: roboto, Rajdhani, sans-serif;
  font-size: 10px;
}
/* line 482, ../sass/style.scss */
.thired .ug-textpanel-title .title {
  color: #ffffff;
  font-size: 320%;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 491, ../sass/style.scss */
.thired .ug-textpanel-title .description {
  color: #093e47;
  font-size: 140%;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 20px;
}
/* line 498, ../sass/style.scss */
.thired .ug-textpanel-title .tag {
  background-color: #ffffff;
  padding: 3px 15px 3px 30px;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  font-size: 120%;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
  position: relative;
}
/* line 511, ../sass/style.scss */
.thired .ug-textpanel-title .tag:before {
  content: '⚫ ';
  color: #1ec3e1;
  position: absolute;
  left: 10px;
}

/* line 522, ../sass/style.scss */
.languages {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  background-position: center center;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 529, ../sass/style.scss */
.languages .content {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
}

/* line 537, ../sass/style.scss */
.fourth {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 542, ../sass/style.scss */
.fourth .content {
  padding-top: 140px;
  padding-bottom: 120px;
  position: relative;
  z-index: 2;
}
/* line 549, ../sass/style.scss */
.fourth p.title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 553, ../sass/style.scss */
.fourth p.title .decorate {
  position: absolute;
  top: -40px;
  left: 104%;
}
/* line 559, ../sass/style.scss */
.fourth p.job-date {
  color: #1ec3e1;
  font-size: 110%;
  font-weight: 300;
  line-height: normal;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  background-color: #1ec3e1;
  color: #ffffff;
  padding: 1px 10px;
  display: inline-block;
}
/* line 570, ../sass/style.scss */
.fourth p.job-title {
  color: #c81f1f;
  font-size: 120%;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-weight: 900;
}
/* line 577, ../sass/style.scss */
.fourth p.job-text {
  color: #1a1a1a;
  font-size: 160%;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}
/* line 585, ../sass/style.scss */
.fourth p.subtitle span {
  font-size: 14px;
  color: #999999;
  padding-left: 12px;
}
/* line 592, ../sass/style.scss */
.fourth .jobs {
  padding-top: 80px;
  display: table;
}
/* line 595, ../sass/style.scss */
.fourth .jobs li {
  display: table-cell;
  vertical-align: top;
  width: 25%;
  padding: 0 30px;
}
/* line 601, ../sass/style.scss */
.fourth .jobs img {
  padding-bottom: 50px;
  display: block;
  margin: 0 auto;
}

/* line 609, ../sass/style.scss */
.fifth {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,b48362+100 */
  background: url("../images/background5.jpg"), #ffffff;
  /* Old browsers */
  background: url("../images/background5.jpg"), -moz-linear-gradient(top, #ffffff 0%, #b48362 100%);
  /* FF3.6-15 */
  background: url("../images/background5.jpg"), -webkit-linear-gradient(top, #ffffff 0%, #b48362 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../images/background5.jpg"), linear-gradient(to bottom, #ffffff 0%, #b48362 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b48362',GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 930px;
  /*background-color: $white;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /*@include background-image-cover('background5.jpg');
  background-color: $white;
  background-position: top center;*/
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 634, ../sass/style.scss */
.fifth .content {
  position: relative;
  z-index: 2;
  width: 40%;
  margin: 0 0 0 auto;
  padding-top: 80px;
}
/* line 642, ../sass/style.scss */
.fifth p.title {
  text-align: left;
  color: #1ec3e1;
  font-size: 380%;
  padding-bottom: 20px;
}
/* line 648, ../sass/style.scss */
.fifth p.subtitle {
  text-align: left;
  font-size: 200%;
}

/* line 655, ../sass/style.scss */
.footer {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  background-position: center center;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 662, ../sass/style.scss */
.footer .content {
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  z-index: 2;
}
/* line 668, ../sass/style.scss */
.footer p {
  color: #000000;
  font-size: 200%;
  font-weight: 400;
  line-height: normal;
}
/* line 673, ../sass/style.scss */
.footer p.title {
  text-transform: uppercase;
}
/* line 677, ../sass/style.scss */
.footer .chat-div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px 80px;
  position: relative;
}
/* line 683, ../sass/style.scss */
.footer .chat-div:before {
  content: '';
  border: 1px solid #c81f1f;
  width: 94%;
  height: 94%;
  position: absolute;
  left: 49%;
  top: 48%;
  transform: translate(-50%, -50%);
}
/* line 693, ../sass/style.scss */
.footer .chat-div:after {
  content: '';
  border: 1px solid #1ec3e1;
  width: 94%;
  height: 94%;
  position: absolute;
  left: 51%;
  top: 52%;
  transform: translate(-50%, -50%);
}
/* line 704, ../sass/style.scss */
.footer .chat-div p.title {
  color: #ffffff;
  font-size: 330%;
  font-weight: 100;
  line-height: normal;
  text-transform: inherit;
}
/* line 711, ../sass/style.scss */
.footer .chat-div p.subtitle {
  color: #ffffff;
  font-size: 380%;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 30px;
}
/* line 719, ../sass/style.scss */
.footer .chat-div p.chat-content {
  color: #ffffff;
  font-size: 140%;
  font-weight: 400;
  line-height: normal;
}
/* line 727, ../sass/style.scss */
.footer .contact {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 80px;
  width: 38%;
}
/* line 733, ../sass/style.scss */
.footer .contact li {
  padding: 15px 0;
}
/* line 736, ../sass/style.scss */
.footer .contact a {
  color: #ffffff;
  font-size: 180%;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
/* line 743, ../sass/style.scss */
.footer .contact img {
  vertical-align: middle;
  padding-right: 20px;
}

/* line 750, ../sass/style.scss */
.footer-menu {
  background-color: #111111;
  text-align: center;
  padding: 35px 0;
}

/* line 756, ../sass/style.scss */
.mobile, .tablet, .responsive, .menu-button, .slider-note {
  display: none;
}

/* line 761, ../sass/style.scss */
.mobile-detected .slider-note {
  display: block;
}

/* ---------------------- */
/* ---------------------- */
/* 	  	 RESPONSIVE	 	  */
/* ---------------------- */
/* ---------------------- */
@media screen and (max-width: 1880px) {
  /* line 774, ../sass/style.scss */
  .fifth {
    background-image: url("../images/background5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ffffff;
    background-position: top center;
    min-height: 786px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 784, ../sass/style.scss */
  .fifth {
    min-height: 700px;
  }
  /* line 786, ../sass/style.scss */
  .fifth .content {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 793, ../sass/style.scss */
  .first {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* line 799, ../sass/style.scss */
  .second .services li {
    padding: 0 0 80px;
  }

  /* line 806, ../sass/style.scss */
  .fourth .jobs li {
    padding: 0 15px;
  }
  /* line 809, ../sass/style.scss */
  .fourth .jobs img {
    max-width: 80%;
  }
  /* line 814, ../sass/style.scss */
  .fourth p.job-title {
    font-weight: 600;
    text-transform: none;
  }

  /* line 820, ../sass/style.scss */
  .fifth {
    min-height: 590px;
  }
  /* line 823, ../sass/style.scss */
  .fifth p.title {
    font-size: 280%;
    padding-bottom: 10px;
  }
  /* line 827, ../sass/style.scss */
  .fifth p.subtitle {
    font-size: 170%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 835, ../sass/style.scss */
  .fifth {
    min-height: 503px;
  }
  /* line 838, ../sass/style.scss */
  .fifth p.title {
    font-size: 240%;
  }
  /* line 841, ../sass/style.scss */
  .fifth p.subtitle {
    font-size: 140%;
  }

  /* line 847, ../sass/style.scss */
  .footer .contact {
    width: 44%;
  }
}
@media screen and (max-width: 880px) {
  /* line 854, ../sass/style.scss */
  .button {
    padding: 12px;
    font-size: 200%;
    min-width: 190px;
  }
  /* line 858, ../sass/style.scss */
  .button.small {
    font-size: 140%;
    padding: 10px;
    min-width: 132px;
  }

  /* line 865, ../sass/style.scss */
  p.title {
    font-size: 380%;
  }
  /* line 867, ../sass/style.scss */
  p.subtitle {
    font-size: 200%;
  }

  /* line 871, ../sass/style.scss */
  .first {
    background-image: url("../images/background1-tablet.jpg");
  }
  /* line 873, ../sass/style.scss */
  .first .logo {
    width: 106px;
    padding-right: 30px;
  }
  /* line 878, ../sass/style.scss */
  .first p.line1 {
    font-size: 140%;
    letter-spacing: 6.1px;
  }
  /* line 882, ../sass/style.scss */
  .first p.Websites, .first p.design {
    font-size: 600%;
    line-height: 46px;
  }
  /* line 887, ../sass/style.scss */
  .first .buttons {
    padding-top: 30px;
    text-align: center;
  }
  /* line 891, ../sass/style.scss */
  .first .slogen {
    padding-right: 30px;
  }
  /* line 894, ../sass/style.scss */
  .first .amp {
    width: 68px;
  }

  /* line 899, ../sass/style.scss */
  .second .content {
    padding-top: 70px;
  }
  /* line 903, ../sass/style.scss */
  .second .services li {
    padding: 0 0 60px;
  }
  /* line 906, ../sass/style.scss */
  .second .services img {
    padding: 0 20px 0 0;
    width: 50px;
  }
  /* line 910, ../sass/style.scss */
  .second .services .service {
    padding: 0 15px;
  }
  /* line 916, ../sass/style.scss */
  .second p.title .decorate {
    width: 70px;
    top: -20px;
    right: 102%;
  }
  /* line 922, ../sass/style.scss */
  .second p.service-title {
    font-size: 140%;
  }
  /* line 925, ../sass/style.scss */
  .second p.service-text {
    font-size: 120%;
  }

  /* line 932, ../sass/style.scss */
  .thired .contact {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  /* line 938, ../sass/style.scss */
  .thired p.title .decorate {
    width: 70px;
    top: -20px;
  }
  /* line 944, ../sass/style.scss */
  .thired #gallery {
    margin-top: 20px;
  }

  /* line 948, ../sass/style.scss */
  .languages {
    background-image: url("../images/background1-tablet.jpg");
  }
  /* line 950, ../sass/style.scss */
  .languages .content {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  /* line 954, ../sass/style.scss */
  .languages img {
    max-width: 70%;
    min-width: 280px;
  }

  /* line 960, ../sass/style.scss */
  .fourth .content {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  /* line 965, ../sass/style.scss */
  .fourth .jobs li {
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
    max-width: 260px;
    padding: 0 20px 50px;
  }
  /* line 972, ../sass/style.scss */
  .fourth .jobs img {
    padding-bottom: 20px;
  }
  /* line 978, ../sass/style.scss */
  .fourth p.title .decorate {
    width: 50px;
    top: -25px;
  }
  /* line 983, ../sass/style.scss */
  .fourth p.job-title {
    margin-bottom: 4px;
  }
  /* line 986, ../sass/style.scss */
  .fourth p.job-text {
    font-size: 140%;
    padding-bottom: 8px;
  }

  /* line 992, ../sass/style.scss */
  .fifth {
    min-height: 437px;
  }
  /* line 995, ../sass/style.scss */
  .fifth p.title {
    font-size: 240%;
  }
  /* line 998, ../sass/style.scss */
  .fifth p.subtitle {
    font-size: 130%;
  }
  /* line 1000, ../sass/style.scss */
  .fifth p.subtitle br {
    display: none;
  }
  /* line 1003, ../sass/style.scss */
  .fifth p.subtitle strong {
    display: block;
  }

  /* line 1009, ../sass/style.scss */
  .footer {
    background-image: url("../images/background1-tablet.jpg");
  }
  /* line 1011, ../sass/style.scss */
  .footer .chat-div {
    padding: 30px 50px;
  }
  /* line 1014, ../sass/style.scss */
  .footer .chat-div p.title {
    font-size: 240%;
  }
  /* line 1017, ../sass/style.scss */
  .footer .chat-div p.subtitle {
    font-size: 280%;
    padding-bottom: 15px;
  }
  /* line 1023, ../sass/style.scss */
  .footer .contact {
    padding-left: 50px;
  }
  /* line 1025, ../sass/style.scss */
  .footer .contact img {
    width: 40px;
  }

  /* line 1030, ../sass/style.scss */
  .footer-menu {
    padding: 15px 0;
  }
  /* line 1032, ../sass/style.scss */
  .footer-menu .container {
    max-width: 680px;
  }
  /* line 1036, ../sass/style.scss */
  .footer-menu .menu li {
    padding: 12px;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 1045, ../sass/style.scss */
  .container {
    max-width: none;
    padding: 0 20px;
  }

  /* line 1049, ../sass/style.scss */
  .goDown {
    bottom: 20px;
  }

  /* line 1052, ../sass/style.scss */
  .top-menu {
    display: none;
  }

  /* line 1055, ../sass/style.scss */
  .menu-button {
    display: block;
  }

  /* line 1058, ../sass/style.scss */
  .first {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  /* line 1062, ../sass/style.scss */
  .fifth {
    min-height: initial;
  }
  /* line 1064, ../sass/style.scss */
  .fifth .content {
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 40px;
    box-sizing: border-box;
    margin: 50px auto 30px;
  }
  /* line 1072, ../sass/style.scss */
  .fifth p.subtitle {
    font-size: 140%;
    display: inline-block;
  }
  /* line 1075, ../sass/style.scss */
  .fifth p.subtitle strong {
    display: inline-block;
  }
  /* line 1078, ../sass/style.scss */
  .fifth p.subtitle br {
    display: inline;
  }

  /* line 1085, ../sass/style.scss */
  .footer .content {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  /* line 1089, ../sass/style.scss */
  .footer .chat-div {
    display: block;
    margin-bottom: 30px;
  }
  /* line 1093, ../sass/style.scss */
  .footer .contact {
    padding-left: 0;
    text-align: center;
  }
  /* line 1096, ../sass/style.scss */
  .footer .contact li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33.33%;
    margin: 0 -2px;
  }
  /* line 1102, ../sass/style.scss */
  .footer .contact li img {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 10px;
  }
  /* line 1108, ../sass/style.scss */
  .footer .contact li a {
    font-size: 140%;
  }

  /* line 1115, ../sass/style.scss */
  .footer-menu .container {
    max-width: 380px;
  }
}
/*@media screen and (max-width: 680px) {
	.thired {
		.gallery-wrap {
			display: none;
		}
	}
}*/
@media screen and (max-width: 600px) {
  /*.button {
  	max-width: 250px;
  	padding: 14px;
  	font-size: 22px;
  }*/
  /* line 1136, ../sass/style.scss */
  p.title {
    font-size: 310%;
  }
  /* line 1138, ../sass/style.scss */
  p.subtitle {
    font-size: 180%;
  }

  /* line 1142, ../sass/style.scss */
  .first {
    background-image: url("../images/background1-mobile.jpg");
    background-position: center center;
  }

  /* line 1147, ../sass/style.scss */
  .second .services {
    padding-top: 40px;
  }
  /* line 1149, ../sass/style.scss */
  .second .services li {
    padding: 0 0 50px;
    width: 100%;
  }

  /* line 1156, ../sass/style.scss */
  .thired .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* line 1162, ../sass/style.scss */
  .fourth .content {
    padding-bottom: 0;
  }
  /* line 1165, ../sass/style.scss */
  .fourth .jobs {
    padding-top: 50px;
  }

  /* line 1169, ../sass/style.scss */
  .languages {
    background-image: url("../images/background1-mobile.jpg");
    background-position: center center;
  }

  /* line 1173, ../sass/style.scss */
  .fifth {
    background: 0 none;
  }
  /* line 1175, ../sass/style.scss */
  .fifth .content {
    width: 100%;
    background: 0 none;
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
  }
  /* line 1183, ../sass/style.scss */
  .fifth p.title {
    text-align: center;
  }
  /* line 1186, ../sass/style.scss */
  .fifth p.subtitle {
    text-align: center;
  }
  /* line 1190, ../sass/style.scss */
  .fifth .responsive {
    display: block;
    max-width: 100%;
  }

  /* line 1195, ../sass/style.scss */
  .footer {
    background-image: url("../images/background1-mobile.jpg");
    background-position: center center;
  }
}
@media screen and (max-width: 500px) {
  /* line 1202, ../sass/style.scss */
  .goDown {
    display: none;
  }

  /* line 1207, ../sass/style.scss */
  p.title {
    font-size: 260%;
  }
  /* line 1210, ../sass/style.scss */
  p.subtitle {
    font-size: 140%;
    font-weight: 600;
  }

  /* line 1216, ../sass/style.scss */
  .button {
    padding: 10px;
    font-size: 180%;
    min-width: 130px;
  }
  /* line 1220, ../sass/style.scss */
  .button.small {
    font-size: 120%;
    min-width: 120px;
  }

  /* line 1226, ../sass/style.scss */
  .buttons a.button {
    margin: 0 3px;
  }

  /* line 1231, ../sass/style.scss */
  .first {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* line 1234, ../sass/style.scss */
  .first .logo {
    width: 86px;
    display: block;
    padding-right: 0;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  /* line 1242, ../sass/style.scss */
  .first p.line1 {
    font-size: 140%;
    letter-spacing: 4.9px;
  }
  /* line 1246, ../sass/style.scss */
  .first p.Websites, .first p.design {
    font-size: 550%;
    line-height: 46px;
  }
  /* line 1251, ../sass/style.scss */
  .first .slogen {
    text-align: center;
    padding-right: 0;
  }
  /* line 1256, ../sass/style.scss */
  .first .amp {
    width: 66px;
  }

  /* line 1261, ../sass/style.scss */
  .second .content {
    padding-top: 40px;
  }
  /* line 1266, ../sass/style.scss */
  .second p.title .decorate {
    width: 45px;
    top: -13px;
  }

  /* line 1276, ../sass/style.scss */
  .thired p.title .decorate {
    width: 45px;
    left: 96%;
    top: -25px;
  }

  /* line 1285, ../sass/style.scss */
  .fourth .content {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  /* line 1290, ../sass/style.scss */
  .fourth .jobs li {
    width: 100%;
    padding-bottom: 40px;
  }
  /* line 1294, ../sass/style.scss */
  .fourth .jobs img {
    max-width: 50%;
    padding-bottom: 10px;
  }
  /* line 1301, ../sass/style.scss */
  .fourth p.title .decorate {
    width: 35px;
    top: -17px;
    left: 102%;
  }
  /* line 1307, ../sass/style.scss */
  .fourth p.job-title {
    margin-bottom: 8px;
  }

  /* line 1314, ../sass/style.scss */
  .fifth p.subtitle {
    font-size: 130%;
    font-weight: 400;
  }

  /* line 1320, ../sass/style.scss */
  #backtotop {
    bottom: 0;
    right: 0;
  }
  /* line 1323, ../sass/style.scss */
  #backtotop .fa {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  /* line 1330, ../sass/style.scss */
  .mobile {
    display: block;
  }

  /* line 1333, ../sass/style.scss */
  .desktop {
    display: none;
  }

  /* line 1336, ../sass/style.scss */
  .decorate {
    display: none;
  }

  /* line 1339, ../sass/style.scss */
  .container {
    padding: 0 10px;
  }

  /* line 1343, ../sass/style.scss */
  .footer .content {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  /* line 1347, ../sass/style.scss */
  .footer .chat-div {
    padding: 30px;
    margin-bottom: 20px;
  }
  /* line 1350, ../sass/style.scss */
  .footer .chat-div .chat-content strong br {
    display: none;
  }
  /* line 1356, ../sass/style.scss */
  .footer .contact li img {
    width: 34px;
  }
  /* line 1359, ../sass/style.scss */
  .footer .contact li a {
    font-size: 100%;
  }

  /* line 1367, ../sass/style.scss */
  .footer-menu li a {
    font-size: 100%;
  }
}
